<strong>Olá, {{deliveryman}}</strong>
<h3>Há uma encomenda disponível para a retirada na FastFeet.</h3>
<p>
  <strong>Produto: </strong> {{product}} <br />
  <strong>Destinatário: </strong> {{recipient}} <br />
</p>
<br />
<small><strong>Obs.:</strong> As retiradas só podem ser feitas entre o periodo das <strong>08:00</strong> às
  <strong>18:00h</strong>.</small>
